[Unit]
Description=smtp4dev service
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu
ExecStart=env -i /home/ubuntu/Rnwood.Smtp4dev
StandardInput=tty-force
RemainAfterExit=no
Restart=on-failure
RestartSec=4s
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
